.flex-r{
  display: flex;
  flex-direction: row;
}
.flex-c{
  display: flex;
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}
.flex-r-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-a-center{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-r-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
