.text-center{
  text-align: center;
}
.iblock{
  display: inline-block;
}
.w24{
  width: 24px;
}
.ml5{
  margin-left: 5px;
}
.mr5{
  margin-right: 5px;
}
.ml20{
  margin-left: 20px;
}
.ml18{
  margin-left: 18px;
}

.p0{
  padding: 0;
}
.plr20{
  padding-left: 20px;
  padding-right: 20px;
}


.font-size-18{
  font-size: 18px;
}
.font-size-20{
  font-size: 20px;
}



.setting-icon{
  display: inline-block;
  color: $darkGray;
  font-size: 16px;
  cursor: pointer;
  i{
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;
    color: $darkGray;
  }
  &:hover{
    color: $blue;
    i{
      color: $blue;
    }
  }
}
